iframe {
  border: none;
}

:global .fullscreen {
  min-height: 100%;
  position: relative;
}

:global .centered-wrap {
  position: relative;
}

:global .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

:global .text-multicolor {
  background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 100px;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}

/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/
https://highlightjs.org/static/demo/styles/github.csss

*/

pre,
code {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #23241f;
  border-radius: 5px;
}

pre,
code,
:global(.hljs-tag),
:global(.hljs-subst){
  color: #f8f8f2;
}

:global(.hljs-strong),
:global(.hljs-emphasis){
  color: #a8a8a2;
}

:global(.hljs-bullet),
:global(.hljs-quote),
:global(.hljs-number),
:global(.hljs-regexp),
:global(.hljs-literal),
:global(.hljs-link){
  color: #ae81ff;
}

:global(.hljs-code),
:global(.hljs-title),
:global(.hljs-section),
:global(.hljs-selector-class){
  color: #a6e22e;
}

:global(.hljs-strong){
  font-weight: bold;
}

:global(.hljs-emphasis){
  font-style: italic;
}

:global(.hljs-keyword),
:global(.hljs-selector-tag),
:global(.hljs-name),
:global(.hljs-attr){
  color: #f92672;
}

:global(.hljs-symbol),
:global(.hljs-attribute){
  color: #66d9ef;
}

:global(.hljs-params),
:global(.hljs-class .hljs-title){
  color: #f8f8f2;
}

:global(.hljs-string),
:global(.hljs-type),
:global(.hljs-built_in),
:global(.hljs-builtin-name),
:global(.hljs-selector-id),
:global(.hljs-selector-attr),
:global(.hljs-selector-pseudo),
:global(.hljs-addition),
:global(.hljs-variable),
:global(.hljs-template-variable){
  color: #e6db74;
}

:global(.hljs-comment),
:global(.hljs-deletion),
:global(.hljs-meta){
  color: #75715e;
}
